<template name="products">
	<h3>Products</h3>
	{{#each products}}
		{{> product}}
	{{else}}
		<p>No products available</p>
	{{/each}}
</template>

<template name="product">
	<div class="row product-row">
		<div class="col-md-2">
			<img src="{{image}}" alt="{{name}}" class="thumbnail img-responsive">
		</div>
		<div class="col-md-10">
			<h4>{{name}}</h4>			
				<p class="text-muted">Average Rating : {{getAvg reviews}} ({{total reviews.length}})</p>			
			<p>{{truncate description 150}}</p>
			<a href="{{pathFor 'products.show'}}" class="btn btn-default">Read Reviews</a>
			{{#if currentUser}}
				<a href="{{pathFor 'products.review'}}" class="btn btn-primary">Add Review</a>
			{{/if}}
		</div>
	</div>
</template>